@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(120deg, #ffe53bd8, #ff2525da);
    display: flex;
    align-items: center;
    justify-content: center;
}
.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 8px;
    box-shadow: 0px 8px 10px black;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,0.4682247899159664) 90%);

}
.relogio div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgba(0, 0, 0, 0.902);
    box-shadow: 5px 5px 15px black ;
    border-radius: 7px;
    letter-spacing: 3px;
}
.relogio span{
    font-weight: bold;
    font-size: 60px;
}
.relogio span.tempo{
    font-size: 10px;
}
.data{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 8px;
    box-shadow: 0px 8px 10px black;
    margin-top: 50px;
    background: rgb(98,207,186);
    background: linear-gradient(65deg, rgba(98,207,186,1) 0%, rgba(68,108,171,1) 94%);
    

}
.data span{
    font-weight: bold;
    font-size: 60px;
}
.data span.tempo{
    font-size: 10px;
}
.data div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgba(0, 0, 0, 0.902);
    box-shadow: 5px 5px 15px black ;
    border-radius: 7px;
    letter-spacing: 3px;
}
